---
import Layout from "../layouts/Layout.astro";
import FormSection from "../components/FormSection.astro";
import { emotions } from "../poms-data/states";
---

<Layout title="moodnote">
  <main>
    <section class="landing">
      <span class="logo">💙 moodnote.cc</span>
      <h1>Mood tracker, backed by <u>POMS</u> questionnaire</h1>
      <span>
        Understand your current emotional state and identify patterns over time.
      </span>
    </section>
    <h2>How do you feel <strong>right now?</strong></h2>
    <form method="post" action="/api/record">
      <FormSection states={emotions} counter="8 of 40" />
      <sl-button type="submit">submit</sl-button>
    </form>
  </main>
</Layout>

<script>
  import "@shoelace-style/shoelace/dist/components/button/button.js";
</script>

<style>
  h1 {
    font-family: var(--sl-font-serif);
    padding: 16px 0;
  }

  .landing {
    background-color: var(--sl-color-blue-50);
    border-radius: 24px;
    margin: 20px;
    padding: 20px 20px 40px 20px;
  }
  strong {
    font-weight: 900;
  }

  h3 {
    font-weight: 200;
  }

  .logo {
    font-family: var(--sl-font-mono);
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    color: var(--sl-color-gray-600);
  }

  form {
    background-color: var(--sl-color-neutral-0);
    padding: 20px;
  }

  body {
    /* background-color: var(--sl-color-blue-50); */
    margin: auto;
  }
  .line {
    flex-grow: 1;
    height: 2px;
    background-color: var(--sl-color-gray-300);
  }

  .space-between {
    justify-content: space-between;
  }

  .pages {
    margin-right: 24px;
    width: 100px;
    flex-shrink: 0;
  }

  .full-width {
    width: 100%;
  }

  main {
    max-width: 430px;
    margin: auto;
    /* padding: 1rem; */
    /* width: 800px; */
    /* max-width: calc(100% - 2rem); */
    color: white;
    font-size: 16px;
    line-height: 1.6;
  }
</style>
