---
import Item from "./Item.astro";
import { useTranslations, getLangFromUrl } from "../lib/translate";

interface Props {
  emotions: any[];
  counter: string;
}

const { emotions, counter } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
  <div class="flex section-heading">
    <span class="counter">{counter}</span>
    <div class="flex scales">
      <span>{t("scale.0")}</span>
      <div class="line"></div>
      <span>{t("scale.4")}</span>
    </div>
  </div>
  <div class="flex state-list">
    {emotions.map((item, i) => <Item name={item} bg={i % 2 === 0} />)}
  </div>
</section>

<style>
  .flex {
    display: flex;
  }

  .scales {
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: var(--sl-spacing-x-small);
  }

  .line {
    flex-grow: 1;
    height: 2px;
    background-color: var(--sl-color-gray-300);
  }

  .counter {
    margin-right: var(--sl-spacing-medium);
    width: 108px;
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .section-heading {
    flex-direction: row;
    align-items: center;
    color: var(--sl-color-gray-600);
  }

  .state-list {
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 40px;
    gap: 20px;
  }
</style>
